<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/49276ec5a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <%- style %>
</head>
<body>
    <%- include('_header'); %>
    <!-- Controlling menu part -->
    <main class="home">
        <%- body %>
    </main>
    <%- include('_menu'); %> <!-- Loading menu -->
    <%- include('_footer'); %>
    
    <%- script %>
    <script src="./js/main.js"></script>
</body>
</html>